src/main/resources/schemas/workshop/workshop.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ xnat-workshop: /Users/rherrick/Development/XNAT/1.7/plugins/xnat-workshop-plugin/src/main/resources/schemas/workshop/workshop.xsd
  ~ XNAT http://www.xnat.org
  ~ Copyright (c) 2017, Washington University School of Medicine
  ~ All Rights Reserved
  ~
  ~ Released under the Simplified BSD.
  -->

<xs:schema targetNamespace="http://nrg.wustl.edu/workshop" xmlns:workshop="http://nrg.wustl.edu/workshop" xmlns:xnat="http://nrg.wustl.edu/xnat" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://nrg.wustl.edu/xnat" schemaLocation="../xnat/xnat.xsd"/>
	<xs:element name="BiosampleCollection" type="workshop:biosampleCollection"/>
	<xs:complexType name="biosampleCollection">
		<xs:annotation>
			<xs:documentation>Indicates whether the required biosample collections have been acquired per study protocol.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xnat:subjectAssessorData">
				<xs:sequence>
					<xs:element name="dna">
						<xs:annotation>
							<xs:documentation>DNA</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:boolean"/>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Currsite">
                        <xs:annotation>
                            <xs:documentation>Currsite</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="Subject_Identification">
                        <xs:annotation>
                            <xs:documentation>subject id</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:integer"/>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="Scan_Date">
                        <xs:annotation>
                            <xs:documentation>scan date</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:date"/>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="Scan_Time">
                        <xs:annotation>
                            <xs:documentation>hour:miunte:second of receiving scan </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:time"/>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="DICOM_pixel_size_x">
                        <xs:annotation>
                            <xs:documentation> x axis pixel size of DICOM</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:double"/>
                        </xs:simpleType> 
                    </xs:element>
					<xs:element name="Time_From_Bi_Hr">
                        <xs:annotation>
                            <xs:documentation>time from bi hr</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:double"/>
                        </xs:simpleType> 
                    </xs:element>
					<xs:element name="Z_Axial_Brain_Scan">
                        <xs:annotation>
                            <xs:documentation>number of z axial brain scans </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:integer"/>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="Z_brain_Thin_Scans">
                        <xs:annotation>
                            <xs:documentation>number of z brain thin scans </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:integer"/>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="Selected_Scan_Number">
                        <xs:annotation>
                            <xs:documentation>number of z selected scans </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:integer"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="Ct_Series_Description">
                        <xs:annotation>
                            <xs:documentation>describe CT series </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="X_Dimension">
                        <xs:annotation>
                            <xs:documentation>x axis dimension</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:integer"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="Y_Dimension">
                        <xs:annotation>
                            <xs:documentation>y axis dimension</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:integer"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="Slice_Number">
                        <xs:annotation>
                            <xs:documentation>number of slices</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:integer"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="DICOM_Pixel_Size_X">
                        <xs:annotation>
                            <xs:documentation> x axis pixel size of DICOM</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:double"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="NIFTI_Pixel_Size_X">
                        <xs:annotation>
                            <xs:documentation> x axis pixel size of NIFTI</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:double"/>
                        </xs:simpleType>
                    </xs:element>
					<xs:element name="rna">
						<xs:annotation>
							<xs:documentation>RNA</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:boolean"/>
						</xs:simpleType>
					</xs:element>
					<xs:element name="plasma">
						<xs:annotation>
							<xs:documentation>Plasma</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:boolean"/>
						</xs:simpleType>
					</xs:element>
					<xs:element name="serumone">
						<xs:annotation>
							<xs:documentation>Serumone</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:boolean"/>
						</xs:simpleType>
					</xs:element>
					<xs:element name="tilt">
						<xs:annotation>
							<xs:documentation>Tilt</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:boolean"/>
						</xs:simpleType>
					</xs:element>
					<xs:element name="baseline">
                        <xs:annotation>
                            <xs:documentation>Baseline</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:boolean"/>
                        </xs:simpleType>
                    </xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
